        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-grey">
            <div class="container">
                <h2>Stranica nije pronađena</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Početna</a></li>
                    <li class="breadcrumb-item active">404 stranica</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-12" style="margin: 50px 0 100px 0;">
                    <div class="blog">
                        <div class="blog-content">
                            <h3>Greška 404 - Stranica nije pronađena</h3>
                            <p>Stranica koju ste zahtevali nažalost nije ovde. Vratite se na <a href="/">početnu</a>.</p>
                        </div>
                    </div>
                </main>
                <!-- /Main -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
