        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Kako dobiti 1 besplatnu ANOTu?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Početna</a></li>
                    <li class="breadcrumb-item active">Airdrop</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anote_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <p>Airdrop je distribucija malih količina nekih tokena virtuelnih valuta članovima njenih zajednica besplatno ili za izvršenje nekih malih zadataka. Ovako možete učestvovati u ANOTinom airdropu:
                            </p><br>

                            <h5>1. Registruj Kriptodinar novčanik</h5>

                            <p>Registruj novi Kriptodinar novčanik <a href="https://novcanik.kriptodinar.com/" target="_blank">ovde</a>.
                            </p><br>

                            <h5>2. Pridruži se našoj telegram grupi - Anonutopia Srbija</h5>

                            <p>Ako nemate Telegram, možete ga <a href="https://telegram.org/apps" target="_blank">ovde</a> preuzeti.</p>
                            <p>Registrujte se unutar aplikaciej, a zatim se pridružite Anonutopia grupi: <a href="https://t.me/AnonutopiaSrbija">t.me/AnonutopiaSrbija</a>.
                            </p><br>

                            <h5>3. Pitaj AnonsRobota za 1 besplatnu ANOTu</h5>

                            <p>Kopiraj adresu svog novčanika i napravi upit našem prijateljskom AnonsRobotu kao na primeru ispod.
                            Naravno, umesto naše adrese(3PDb1ULFjazuzPeWkF2vqd1nomKh4ctq9y2), koristite svoju.
                            </p>

                            <div class="well" style="margin-top: 20px;">/gimme@AnonsRobot 3PDb1ULFjazuzPeWkF2vqd1nomKh4ctq9y2</div><br>

                            <h5>4. Delite vaš Referral Link</h5>

                            <p>Delite vaš Referal Link na društvenim mrežama. Kad se neko novi registruje prateći tvoj link, dobijate 20% od njihovih kupovina i airdropova. Vaš Referal link možete preuzeti izborom 
                            "<a href="https://novcanik.kriptodinar.com/profit/">Profit</a>" strane u meniju vašeg novčanika.
                            </p><br>
                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Meni</h3>
                        <div class="widget-category">
                            <a href="/">Početna</a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Zarada</a>
                            <a href="https://wallet.anonutopia.com">Novčanik</a>
                            <a href="/anote/">ANOTA</a>
                            <a href="/projects/">Projekti</a>
                            <a href="/contact/">Kontakt</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
