        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Često postavljana pitanja</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovna</a></li>
                    <li class="breadcrumb-item active">Česta pitanja</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <div class="faqRow">
                        <h4>Je li ovo sve po zakonu?</h4>
                        <p>Apsolutno, da! Bankomatsku mrežu koju ćemo izgraditi građani će moći koristiti za 
                        novac kojim svakako raspolažu preko zaštićenog računa, samo ćemo im omogućiti normalno korištenje 
                        njihovog novca koje je trenutno jako ograničeno (plaćanje računa putem Interneta, bankomate, Internet 
                        bankarstvo i slično). Osim toga, ICO (initial coin offering) je u potpunosti legalna i 
                        legitimna metoda crowdfundinga.</p>
                    </div>

                    <div class="faqRow">
                        <h4>Zašto ste anonimni?</h4>
                        <p>Vlastitom anonimnošću i upotrebom smart contracta želimo dokazati kako anonimnost, 
                        transparenstnost i povjerenje mogu koegzistirati u savršenom skladu kad su u pitanju najmodernije 
                        tehnologije. Želimo ukazati na to da su smart contracti rešili problematiku povjerenja na Internetu 
                        i da se sve što govorimo da radimo može i verifikovati i dokazati u našim smart contractima bez da nam 
                        verujete direktno i bez da u naš odnos uključujemo treće stranke poput banaka.</p>
                    </div>

                    <div class="faqRow">
                        <h4>Koja je razlika između ANOTE-a i Kriptodinara?</h4>
                        <p>Kriptodinar je token kojem je vrednost pretprogramirana na način da bude stabilizovana 1:1 
                        sa "pravim" dinarom. Kriptodinar je namenjen svakodnevnoj upotrebi, u početku za plaćanje i naplatu
                        usluga prevoza, a kasnije za bankomate i brojne druge usluge.
                        <br><br>
                        ANOTE je "bankarski token" koji nam omogućuje infrastrukturu za izradu Kriptodinara te mu je
                        vrijednost programirana na način da ostvaruje brz i stabilan rast. ANOTE je zbog toga ujedno i investicioni 
                        token namenjen da svojim investitorima donese zaradu.</p>
                    </div>

                    <div class="faqRow">
                        <h4>Kako mogu kupiti Kriptodinar?</h4>
                        <p>Kriptodinar u ovom trenutku još uvijek nije moguće kupiti niti to ima preteranog smisla budući da još uvek nisu 
                        objavljene aplikacije koje će ga koristiti, a on je stabilni token pa nije pogodan za ulaganje. Kada to bude potrebno, Kriptodinar 
                        će biti moguće prodati i kupiti putem menjačnice integrisane u novčanik.</p>
                    </div>

                    <div class="faqRow">
                        <h4>Kako mogu kupiti Anotu?</h4>
                         <p>ANOTE je token koji pruža infrastrukturu za Interenet bankarstvo, a ima pretprogramirani rast tako da je ujedno i investicioni 
                        token u koji se isplati uložiti već sada. Proces kupovine detaljno je opisan <a href="/novcanik/">ovde</a>, a više o Anoti možete pročitati <a href="/anote/">ovde</a>.</p>
                    </div>

                    <div class="faqRow">
                        <h4>Koliko iznosi vaš referral program?</h4>
                         <p>Referral program donosi prinose od 20% pri svakoj kupovini Anote koju vaš referirani korisnik napravi.</p>
                    </div>                    

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovna</a>
                            <a href="/kupi/">Kupi</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/o-kriptodinaru/">&dash;&dash;&nbsp;&nbsp;Šta je Kriptodinar?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Šta je ANOTE?</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">Transparentnost</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>