
        <!-- home wrapper -->
        <div class="home-wrapper">
            <div class="container">
                <div class="row">

                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">Pokrenimo Srbiju</h1>
                            <!-- <p class="white-text" style="margin-bottom: 30px;">i usput prestanimo davati 25% svog novca američkoj firmi za jednostavnu aplikaciju 
                                koja ne radi ništa drugo osim što spaja one koji voze s onima koji se žele voziti jer tako nešto znamo organizirati i sami</p> -->
                            <p class="white-text" style="margin-bottom: 30px;">
                                koristeći moderne tehnologije dostupne svima i u istom potezu učinimo našu zemlju transparentnom i organiziranom državom ugodnom 
                                za rad, život i posetu, državom 21. veka, državom kakvu zaslužujemo!
                            </p>
                            <a href="https://www.github.com/anonutopia" class="white-btn" target="_blank">Pročitaj više (GitHub)</a>
                            <a href="https://novcanik.kriptodinar.com" class="main-btn" target="_blank">Novčanik</a>
                        </div>
                    </div>
                    <!-- /home content -->

                </div>
            </div>
        </div>
        <!-- /home wrapper -->

    </header>
    <!-- /Header -->
