        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Kako kupiti Anotu?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovna</a></li>
                    <li class="breadcrumb-item active">Kako kupiti</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <p><strong>Zbog zagušenosti Ethereum mreže, bili smo prisiljeni da hitno prebacimo Kriptodinar i Anotu u Waves blockchain i mrežu.
                    Povezivanje s Waves blockchainom je i inicijalno bio naš plan zbog PoS (Proof of Stake) algoritma, niske cene transakcija, 
                    njihove brzine i posledično ekološki prihvatljivijeg rešenja. Ethereum ćemo i dalje koristiti u pozadini.
                    </strong></p><br>

                    <h3>Kako mogu kupiti Kriptodinar?</h3>
                    <p>Kriptodinar u ovom trenutku još uvek nije moguće kupiti niti to ima preteranog smisla budući da još uvek nisu 
                    objavljene aplikacije koje će ga koristiti, a on je stabilni token pa nije pogodan za ulaganje. Kada to bude potrebno, Kriptodinar 
                    će biti moguće prodati i kupiti putem menjačnice integrisane u novčanik. Više o Kriptodinaru možete pročitati 
                    <a href="/o-kriptodinaru/">ovde</a>.</p><br>

                    <h3>Kako mogu kupiti Anotu?</h3>
                    <p>ANOTE je token koji pruža infrastrukturu za Interenet bankarstvo, a ima pretprogramirani rast tako da je ujedno i investicioni 
                    token u koji se isplati uložiti već sada. Više o Anoti (ANOTE) možete pročitati <a href="/anote/">ovde</a>, a adresu za kupovinu 
                    možete pronaći <a href="/kupi/" target="_blank">ovde</a>..</p><br>

                    <h4>Proces kupovine</h4>

                    <!-- <p><strong>Što trebamo i tražimo trenutno:</strong></p> -->
                    <p>
                        <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Otvorite kriptodinarski račun na <a href="https://novcanik.kriptodinar.com" target="_blank">novcanik.kriptodinar.com</a>.<br>
                        <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sigurno backupujte 15 seed reči.<br>
                        <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;U novčanik prebacite Waves, Bitcoin ili Ether tokene.<br>
                        <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;U menjačnici integrisanoj u novčanik zamenite vašu kriptovalutu za Anote.
                    </p><br>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Meni</h3>
                        <div class="widget-category">
                            <a href="/">Naslovna</a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/airdrop/">Zarada</a>
                            <a href="https://novcanik.kriptokuna.com">Novčanik</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/projekti/">&dash;&dash;&nbsp;&nbsp;Naši projekti</a>
                            <a href="/o-kriptodinaru/">&dash;&dash;&nbsp;&nbsp;Što je Kriptodinar?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">&dash;&dash;&nbsp;&nbsp;Transparentnost</a>
                            <a href="/kontakt/">Kontakt</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                     <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
