        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>O nama i našem planu</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovna</a></li>
                    <li class="breadcrumb-item active">O nama</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <h3>Ko smo mi?</h3>

                            <p>Mi smo Anonutopia - haktivistička grupa sa Balkana koja se okupila oko ideje da naše zemlje
                            možda i nisu toliko loše mesto za život koliko se nama to trenutno čini te da možda i nije potrebno 
                            nezamislivo puno rada i truda da bismo od njih zajedno napravili ono što su nam obećavali - ugodno mesto za život.
                            Ako političarima zameramo loš i korumpiran rad, učinimo nešto po tom pitanju i pokažimo im da zaista znamo o 
                            čemu pričamo kada tvrdimo da znamo i možemo bolje.</p>
                            <p>Anonutopia je živopisna i šarolika skupina entuzijasta i stručnjaka, a otvoreni smo za sve koji su nam voljni 
                            pomoći u našim zajedničkim ciljevima. Iako se radi o haktivističkom i tehnološkom pokretu, na projektu se već 
                            sada okupljaju ljudi različitih struka i interesa. Osim za hakerima i programerima gotovo odmah se pojavila 
                            potreba i za brojnim drugim strukama: blogeri, preduzetnici, marketinški stručnjaci, pravnici, 
                            ekonomisti, komercijalisti, društveno-humanistički naučnici i aktivisti. Svoj veliki entuzijastični 
                            doprinos od samog početka daje i jedan frizer na privremenom radu u Dublinu.</p>
                            <p>Ograničenja ni preduslova nema, svi su dobrodošli!</p><br>

                            <h3>Naši ciljevi</h3>

                            Ciljevi Anonutopije su sljedeći:</p>
                            <p>
                                <strong>&nbsp;&dash;&nbsp;&nbsp;tržišnim metodama postepeno vratiti bankarski i druge sektore građanima Srbije pod kontrolu</strong><br>
                                <strong>&nbsp;&dash;&nbsp;&nbsp;zaustaviti negativnost i podeljenost Srbije te oživiti pozitivni duh i duh saradnje</strong><br>
                                <strong>&nbsp;&dash;&nbsp;&nbsp;pomoći integrisati blockchain, smart contract i druge moderne tehnologije u Srpski javno-politički život</strong><br>
                                <strong>&nbsp;&dash;&nbsp;&nbsp;pozicionirati Srbiju kao globalnog lidera u segmentu tehničkih rešenja u (direktnoj) demokratiji</strong><br>
                                <strong>&nbsp;&dash;&nbsp;&nbsp;podizati svest i ukazivati na važnost privatnosti, anonimnosti, i sigurnosti na Inernetu</strong><br>
                                <strong>&nbsp;&dash;&nbsp;&nbsp;pomoći u uzdizanju siromašnih građana Srbije</strong>
                            </p><br>

                            <h3>Plan i program</h3>
                            
                            <p>Prvi deo našeg plana već je ostvaren i završen - smisliti, dizajnirati i isprogramirati Kriptodinar
                            i prateću infrastrukturu (novčanik, web stranica, serveri i slično). Tako je nastala i Anota (ANOTE), naš bankarski token kojim 
                            se ponosimo koliko i Kriptodinarom. Više o Anoti pročitajte <a href="/anote/">ovde</a>, a o Kriptodinaru <a href="/o-kriptodinaru/">ovde</a>. 
                            Kriptodinar i Anota su deployovane u Ethereum blockchain <strong>25. juna 2018. godine</strong>.</p>
                            <p>Nakon početne faze, krećemo u crowdfunding fazu. U ovom periodu prodavači kreću prodavati Anote svima zainteresiranima u Srbiji i 
                            svetu. Ovo ne bi trebao biti težak zadatak za prodavače i marketinške stručnjake jer Anota ima uprogramiran strmi rast vrednosti, a sve 
                            vreme dok je posjedujete (holding), ona na vašu adresu isplaćuje zaradu u obliku Ether (ETH) kriptovalute. Osim toga, ima ugrađen i referral 
                            program od čak 20%.</p>
                            <p>Anota ima jasno izražene i prilično agresivne elemente piramidalnog marketinga. Međutim, za razliku od ostalih proizvoda koji piramidalni 
                            marketing koriste za lično bogaćenje svojih vlasnika, Anota ga koristi za stvaranje fonda koji služi osiguravanju i smirivanju vrednosti 
                            jedne od prvih stabilnih kriptovaluta na svijetu - Kriptodinara.</p>
                            <p>Crowdfunding služi za uspostavljanje naše vlastite bankomatske mreže i razvoj vlastitog Open Source kripto-bankomata (AnonATM). Ukoliko 
                            crowdfunding prođe bolje od naših očekivanja, svaki višak ćemo koristiti za pojedinačno uzdizanje siromašnih građana.</p>
                            <p>Paralelno sa crowdfunding fazom kreće i faza intenzivnog razvoja Open Source aplikacija koje će koristiti Kriptodinar (i Kriptodolar, 
                            Kriptoeuro i ostale naše kripto-ekvivalente stvarnih fiat valuta) te na taj način generisati njihovu intenzivnu potražnju iako su same 
                            aplikacije besplatne.</p>
                            <p>To će aktivirati ekonomiju Kriptodinara i Anote, a Anota u svom dizajnu ima uprogramirane mehanizme koji će sve vrijeme finansirati 
                            razvoj aplikacija koje generišu potražnju i potrošnju, kako nje, tako i njenih kripto-fiata.</p>
                            <p>Prva aplikacija koju ćemo napraviti je AnonTaxi, besplatna Open Source aplikacija za spajanje putnika i prijevoznika. Ova aplikacija će se kao i sve ostale 
                            naše aplikacije nuditi u čitavom svijetu, a bit će nezaustavljiva i kompletno će raditi na blockchainu, nešto što Uber već dugo planira, a nikako 
                            ne ostvaruje.</p>
                            <p>Anonutopia ima čitav niz ovakvih projekata u planu, a svi oni će biti besplatni, Open Source i prilgođeni Kriptodinaru i Anoti.</p><br>

                            <h3>Način rada i ophođenja</h3>
                            <p>Anonutopia, Kriptodinar i Anota su nastali kao produkt čistog pozitivnog duha i takvima ih želimo i zadržati. Pozitiva, zajedništvo, saradnja,
                            optimizam i ostalo čega u Srbiji vidljivo nedostaje, to su ideali kojima želimo težiti ovim projektom. </p>
                            <p>Osim pozitivnog duha, i transparentnost je vrlina koja nam je jako važna iako smo anonimni haktivisti. Ovo je takođe nešto čega 
                            u Srbiji poprilično nedostaje. Blockchain tehnologije i transparentnost želimo iskoristiti za rešavanje problema duboko ukorenjene 
                            korupcije, a direktnu demokratiju utemeljenu na smart contractima ćemo iskoristiti kao alat za borbu protiv nepotizma. Primer takve direktne 
                            demokratije su ocene u raznim aplikacijama. Iz ovog razloga imamo i podstranicu posvećenu <a href="/transparentnost/">transparentnosti</a>.</p>
                            <p>Uz tehnička rješenja intenzivno radimo i na modelima demokratske rasprave i odlučivanja. U Anonutopia haktivističkom timu sve odluke od početka 
                            donosimo sistemima direktne demokratije koje ćemo pružiti na raspolaganje i korisnicima Kriptodinara i Anote.</p>
                            <p><a href="/pridruzi-se/"><strong>Pridruži se i radi s nama za bolju budućnost</strong></a>!</p>
                        </div>
                    </div>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovna</a>
                            <a href="/kupi/">Kupi</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/o-kriptodinaru/">&dash;&dash;&nbsp;&nbsp;Šta je Kriptodinar?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">Transparentnost</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
