        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Kako ostvariti profit u Anonutopiji?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Početna</a></li>
                    <li class="breadcrumb-item active">Ostvarivanje Profita</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <p>Samim ulaskom u Anonutopiju, svaki njen građanin stiče pravo na UOP (Univerzalni Osnovni Prihod). Međutim, postoji još mnogo načina da se zaradi u Anonutopiji pružanjem različitih vrsta usluga na jednom potpuno drugačijem nivou. Možete da pomognete investiranjem i držanjem (Holding) ANOTE, gde samim tim zarađujete novac. Možete nam iznajmiti Vaše Waves tokene, povezati ih sa našim čvorovima i pomoći nam da osiguramo Waves mrežu itd. U nastavku su svi trenutno dostupni načini zarade u Anonutopiji. Lista će se kontinuirano širiti.
                            </p><br>

                            <h3>ANOTE Holder</h3>

                            <p>Kupovinom i držanjem (Holding) ANOTE Vi u stvari kreirate novu vrednost u našem sistemu i zbog toga dobijate nagradu. Svaki put kada neko kupi nove ANOTE tokene sleduje vam mali deo uplate (proporcionalno vašem udelu). Ova naknada vam se isplaćuje u istoj kripto valuti koja je bila korišćena prilikom kupovine nove ANOTE (Waves, Bitcoin, Ethereum ili crypto-fiat). Sredstva možete podići sa računa ili ih uložiti u nove ANOTE.
                            </p><br>

                            <h3>ANOTE Referral</h3>

                            <p>Svaki put kada uputite nekoga na neki od naših sajtova ili novčanika koristeći svoju adresu (dodavanjem ?r=adresa) biće sačuvano u sistemu. Ukoliko korisnik koga ste uputili ikada kupi ANOTE dobićete naknadu u iznosu od 20% u valuti koja je korišćena prilikom kupovine. Ta sredstva takođe možete podići sa računa ili ih uložiti u nove ANOTE. Ne morate biti Holder da biste bili Referral.
                            </p><br>

                            <h3>Anonutopia Bankster</h3>

                            <p>Vi ste lični bankar Anonutopijinog "bankarskog sistema". Bavite se gotovinskim i/ili internet bankarstvom. Vi ste naš mali ulaz u bankarski sistem i most između redovnog korisnika i naše napredne tehnologije. Kao Bankster takođe dobijate naknadu.
                            </p><br>

                            <h3>AnonOracle</h3>

                            <p>AnonOracles su osnove našeg sistema i infrastrukture. One su stub naše celokupne tehničke infrastrukture, pored Waves-a i Ethereum-a. To su server procesi koji moraju imati udeo od 1.000.000 ANOTEa, i zbog toga zarađuju tako što obezbeđuju naš blockchain sa spoljnim podacima. Naš konačni cilj je da AnonOracle drži (hold) sva naša sredstva u multi-signature novčanicima.

                            </p><br>

                            <h3>AnonGateway</h3>

                            <p>Ovo je u osnovi veliki Bankster koji pokreće AnonOracle čvor. To su naša glavna i velika vrata ka tradicionalnim bankarskim sistemima. To su naše finansijske institucije i u slučaju mnogih zemalja upravo će to i predstavljati, u zakonskom smislu.
                            </p><br>

                            <h3>Waves Holder</h3>

                            <p>Pomažete nam da zaštitimo Waves mrežu pošto je ona naša osnovna infrastruktura. Iznajmljujete vaše Waves tokene u našem Waves čvoru i dobijate nagrade i naknade srazmerno vašem udelu. Iznajmite na dole navedenu adresu kako biste započeli ulaganje:
                            </p>

                            <p><strong>3PDb1ULFjazuzPeWkF2vqd1nomKh4ctq9y2</strong></p><br>
                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Meni</h3>
                        <div class="widget-category">
                            <a href="/">Početna</a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Zarada</a>
                            <a href="https://novcanik.kriptodinar.com/">Novčanik</a>
                            <a href="/anote/">ANOTA</a>
                            <a href="/projects/">Projekti</a>
                            <a href="/contact/">Kontakt</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
