        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Koje proizvode pravimo?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Početna</a></li>
                    <li class="breadcrumb-item active">Naši proizvodi</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <p>Šta je zemlja bez svoje infrastrukture? Anonutopia ima mnogo besplatnih projekata i aplikacija otvorenog koda koje imaju za svrhu upravo postavljanje svoje infrastrukture a sve u cilju dobijanja profita koji će služiti za finansiranje univerzalnog osnovnog dohodka. </p>
                                                       
                            <p>Ovo su neki od njih:</p><br>

                            <h3>ANOTA</h3>

                            <p>Naš glavni proizvod je - ANOTA. Ona je decentralizovani stabilni novčić programiran uz pomoć teorije igara (Game theory) , pametnih ugovora (smart contracts) i LPoS(Leased Proof of Stake) Oracles - Anon0racle. On je takođe investicioni bankarski token. Pročitajte više o ANOTI 
                           <a href="/anote/">ovde</a>.
                            </p><br>

                            <h3>Cripto Ekvivalent Fiat Valutama</h3>

                            <p>Anonutopjini centralzovani stabilni novčići - CryptoEuro, CryptoDollar, itd.
                            </p><br>

                            <h3>AnonTaxi</h3>

                            <p>Anonutopijini projekat deljenja vožnje, iznajmljivanja vozila i taksi aplikacija.
                            </p>

                            <p><a href="https://github.com/anonutopia/anontaxi" target="_blank">GitHub</a></p><br>

                            <h3>AnonATM</h3>

                            <p>Cheap, accessible and Open Source crypto ATM that uses our Open Source software. Still 
                            under the development.
                            </p><br>

                            <h3>AnonNovčanik</h3>

                            <p>Anonutopijin novčanik zasnovan je Waves novčaniku. Za sada radi samo kroz internet pregledač, ali pripremamo Android i IOS aplikacije.
                            </p>

                            <p><a href="https://github.com/anonutopia/anonwallet" target="_blank">GitHub</a></p><br>

                            <h3>AnonMenjačnica</h3>

                            <p>Naša kriptoi fiat menjačnica prikačena na Waves DEX u pozadini. I dalje je u razvoju.
                            </p><br>

                            <h3>AnonOracle</h3>

                            <p>Osnova našeg bankarskog sistema, koriste LPoS(Leased Proof of Stake) za dostavljanje korisnih spoljnih podatka, i drže naš fond u novčanicima sa višestukim potpisima.
                            </p>

                            <p><a href="https://github.com/anonutopia/anonoracle" target="_blank">GitHub</a></p><br>

                            <h3>GoWaves</h3>

                            <p>Waves platofrma u Golang bibliotekama.
                            </p>

                            <p><a href="https://github.com/anonutopia/gowaves" target="_blank">GitHub</a></p><br>

                            <h3>WavesCLI</h3>

                            <p>Waves CLI platforma (Command Line Interface).
                            </p>
                            
                            <p><a href="https://github.com/anonutopia/waves-cli" target="_blank">GitHub</a></p><br>

                            <h3>AnonPortal</h3>

                            <p>CMS (Content Management System) za našu mrežu web sajtova, može se koristiti za manji novinski portal.
                            </p>

                            <p><a href="https://github.com/anonutopia/anonportal" target="_blank">GitHub</a></p><br>

                            <h3>AnonNet</h3>

                            <p>Anonutopijina Ethereum blockchain mreža. Privatna za sada, nakon testiranja biće javna.
                            </p><br>
                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Meni</h3>
                        <div class="widget-category">
                            <a href="/">Naslovna</a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/airdrop/">Zarada</a>
                            <a href="https://novcanik.kriptokuna.com">Novčanik</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/projekti/">&dash;&dash;&nbsp;&nbsp;Naši projekti</a>
                            <a href="/o-kriptodinaru/">&dash;&dash;&nbsp;&nbsp;Što je Kriptodinar?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">&dash;&dash;&nbsp;&nbsp;Transparentnost</a>
                            <a href="/kontakt/">Kontakt</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                     <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
